:root {
    --header-height: 128px;
    --footer-height: 128px;
    
  }
  

* {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    background-color:rgb(19, 81, 109);
}

body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
}

header {
    position: sticky;
    width: 100vw;
    height: var(--header-height);;
    background-color: rgb(19, 81, 109);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    border-bottom: rgb(29, 89, 112) 4px solid;
}

img {
    filter: invert(100%);
}

#logo {
    width: 5rem;
    height: 5rem;
    padding: 20px;
    margin-left: 2vw;
    filter: invert(100%);
}

h1 {
    color: rgb(255, 255, 255);
    font-weight: 100;
    letter-spacing: 1vw;
    margin: 3vh 2vw;
    padding: 10px;
}

#content{
    height: calc(100vh - (var(--header-height) + var(--footer-height)));
    width: 100vw;
    display: flex;
    flex-flow: row;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

section {
    width: 20vw;
    height: calc(100vh - (var(--header-height) + var(--footer-height)));
    display: flex;
    flex-flow: column;
    background-color: rgb(61, 139, 134);
    border-right: rgb(38, 49, 75) 2px solid;
    margin-right: -20px;
    padding: 0px;
    overflow: scroll;
}

#menu1 {
    display: flex;
    flex-flow: column;
    padding: 0px 10px;
    margin: 0px;
}

a {
    color: rgb(231, 206, 206);
    text-decoration: none;
    list-style-type: none;
    padding: 20px ;
    font-weight: 100;
    font-size: small;
    justify-content: space-around;

}

a:hover {
    filter: invert(100%);
}


#art-asi {
    width: calc(100vw - 150px);
    display: flex;
    flex-flow: row;
}

article {
    width: 70vw;
    min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
    background-color: rgb(18, 92, 92);

}
aside {
    width: 10vw;
    height: 80vh;
    background-color:  rgb(61, 139, 134);
    border-left: rgb(58, 79, 134) 2px solid;
}

footer {
    height: var(--footer-height);
    position: sticky;
    background-color:  rgb(19, 81, 109);
    width: 100%;
    padding: 0;
    margin: 0;
    border-top: rgb(58, 79, 134) 2px solid;
    bottom: 0px;
}

h2 {
    width: 80%;
    padding-top: 2vh;
    margin: 10px auto;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
h3 {
    width: 80%;
    padding-top: 2vh;
    margin: 10px auto;
    text-align: left;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h4 {
    width: 100%;
    margin: 10px auto;
    margin-right: 40px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

p {
    width: 70%;
    padding: 10px 1vw;
    top: 10px;
    margin: 20px auto;
    text-align: left;
    color: rgb(196, 196, 196);
    height: auto;
}

ol {
    color: rgb(196, 196, 196);
    width: 60%;
    padding: 10px 1vw;
    top: 10px;
    margin: 20px auto;
    text-align: left;
}

#social-links {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
    margin-top: 40px;
    list-style-type: none;
}

.social {
    width: 30px;
    margin: 5px;
    padding: 2px;
}

.social:hover {
    filter: invert(100%);
}

.drugs-pic {
    width: 200px;
    filter: invert(100%);
}

.hide-me {
  display: none;
}

.show-me {
    display: flex;
}

.art {
    overflow: scroll;
    scrollbar-width: none;
}

@media screen and (max-width: 600px) {
    html {
        padding: 0px;
        margin: 0px;
        width: 100vw;
        background-color: rgb(4, 107, 107);
        transform: rotate(-90deg);
        transform-origin: left top;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
    
    body {
        top: 0px;
        left: 0px;
        width: 100vw;
    }

    header {
        height: 75px;
        width: 100vw;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: rgb(4, 107, 107);
        border-bottom: rgb(29, 89, 112) 2px solid;
    }

    .art {
        position: relative;
        top: 100px;
        overflow: scroll;
        scrollbar-width: none;
        padding-bottom: 250px;
    }
    
    #logo {
        width: 2.7rem;
        height: 2.7rem;
        padding: 5px;
        margin: 5px 1px;
        padding-left: 0px;
    }

    h1 {
        margin: 3px;
    }
    
    #content {
        flex-flow: column;
        height: 100vh;
        width: 100vw;
    }

    section {
        height: 30px;
        width: 100vw;
        position: fixed;
        top: 70px;
        flex-flow: row;
        border-bottom: rgb(29, 89, 112) 2px solid;
    }
    
    #menu1 {
        display: flex;
        flex-flow: row;        
    }

    article {
        width: 100%; 
        overflow: scroll;  
        scroll-behavior: auto;
        scrollbar-width: none;
    }
    
    a {
        color: rgb(238, 238, 238);
        text-decoration: none;
        list-style-type: none;
        margin: 3px;
        padding: 3px;
        justify-content: space-around;
        font-size: 11px;
        text-align: center;
    }

    h2 {
        font-size: 100%;
        column-fill: auto;
        width: 80%;
        text-decoration: underline;
    }

    h3 {
        column-fill: auto;
        width: 80%;
        text-decoration: none;
        font-weight: 100;
    }

    h4 {
        font-weight: 100;
        font-size: 13px;
    }

    p {
        font-size: 100%;
        top: auto;
        width: 92%;
    }
    
    aside {
        display: none;
    }

    footer {
        position: sticky;
        height: 65px;
        background-color: rgb(4, 107, 107);
    }

    #social-links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 3px;
        padding: 3px;
        list-style-type: none;
    }
    
    .social {
        width: 25px;
        margin-left: 15px;
        margin-right: 10px;
        padding-top: 12px;
    }
}
