* {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    width: 100vw;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: indianred;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

header {
    position: sticky;
    width: 100vw;
    height: 10vh;
    background-color: rgb(3, 56, 172);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    border-bottom: rgb(58, 79, 134) 2px solid;
}

img {
    filter: invert(100%);
}

#logo {
    width: 5rem;
    height: 5rem;
    padding: 20px;
    margin-left: 2vw;
    filter: invert(100%);
}

h1 {
    color: white;
    font-weight: 100;
    letter-spacing: 1vw;
    margin: 3vh 2vw;
}

#content{
    width: 100vw;
    display: flex;
    flex-flow: row;
   
}

section {
    width: 20vw;
    display: flex;
    flex-flow: column;
    background-color: rgb(12, 94, 89);
    border-right: rgb(58, 79, 134) 2px solid;
}

#menu1, #menu2 {
    display: flex;
    flex-flow: column;
    padding: 0px 10px;
    margin: 0px;
}

a {
    color: white;
    text-decoration: none;
    list-style-type: none;
    padding: 25px ;
    justify-content: space-around;

}

a:hover {
    filter: invert(100%);
}


#art-asi {
    width: calc(100vw - 150px);
    display: flex;
    flex-flow: row;
    
}

article {
    
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0px;
    min-height: 80vh;
    background-color: rgb(4, 107, 107);
}

h2 {
    width: 80%;
    padding-top: 2vh;
    margin: 10px auto;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
h3 {
    width: 80%;
    padding-top: 2vh;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

p {
    width: 60%;
    padding: 10px 1vw;
    top: 10px;
    margin: 20px auto;
    text-align: center;
    color: rgb(196, 196, 196);
}

ol {
    color: white;
    width: 60%;
    padding: 10px 1vw;
    top: 10px;
    margin: 20px auto;
    text-align: left;
}

aside {
    width: 10vw;
    background-color: lightseagreen;
    border-left: rgb(58, 79, 134) 2px solid
}

footer {
    height: 7vh;
    position: sticky;
    background-color: rgb(3, 56, 172);
    width: 100%;
    padding: 0;
    margin: 0;
    border-top: rgb(58, 79, 134) 2px solid;
    bottom: 0px;
}

#social-links {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
    margin-top: 15px;
    list-style-type: none;
}

.social {
    width: 30px;
    margin: 5px;
    padding: 2px;
}

.social:hover {
    filter: invert(100%);
}

.drugs-pic {
    width: 200px;
    filter: invert(100%);

}

.hide-me {
  display: none;
}

.show-me {
    
   
    visibility: visible;
   
}

@media screen and (max-width: 600px) {
    body {
        top: 0px;
        left: 0px;
        height: 1000px;
        width: 100vw;
    }

    header {
        height: 100px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
#logo {
    width: 3rem;
    padding: 10px;
    margin-left: 10px;
}

    h1 {
        margin: 30px;
        margin-right: 50px;
    }
    
    #content {
        flex-flow: column;
        height: 100vh;
        width: 100vw;
        
    }

    #art-asi {
        width: 100vw;
        height: 100vh;
        flex-flow: column;
    }

    section {
        padding: 0px;
        height: 100px;
        width: 100vw;
        flex-flow: column;
    }
    
    #menu1, #menu2{
        display: flex;
        flex-flow: row;
        padding: 5px 0px;
        justify-content: space-around;
        
    }
    
    a {
        color: white;
        text-decoration: none;
        list-style-type: none;
        margin: 5px 10px;
        padding: 0px;
        justify-content: space-around;
    
    }

    article {
        height: 65vh;
        width: 100vw;
        display: flex;
        justify-content: space-around;
    }

    h2 {
        font-size: 100%;
        column-fill: auto;
        width: 80%;
        text-decoration: underline;
    }

    h3 {
        font-size: 100%;
        column-fill: auto;
        width: 80%;
        text-decoration: none;
        font-weight: 100;
    }

    p {
        font-size: 100%;
        column-fill: auto;
        width: 80%;
        
    }
    
    aside {
        width: 100vw;
        height: 35vh;
    }

    footer {
        height: 100px;
        position: absolute;
        bottom: 0px;
    }

    #social-links {
        display: flex;
        
        flex-direction: row;
        justify-content: space-evenly;
        margin: 10px;
        padding: 10px;
        margin-left: 1rem;
        margin-right: 2rem;
        list-style-type: none;
    }
    
    .social {
        width: 35px;

        padding-top: 25px;
    }
}
